Repository pythonitalia/pycon, pull requests merged in 2019-09, with the labels that each got.

#817 Migrate to poetry
  .github/workflows/backend-test.yml
  .github/workflows/frontend.yml
  backend/README.md
  backend/poetry.lock
  backend/pycon/settings/prod.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/requirements/base.txt
  backend/requirements/dev.txt
  backend/requirements/prod.txt
  backend/requirements/test.txt
Labels: backend, dependencies, enhancement, python

#818 Add sentry to backend
  .github/workflows/deploy.yml
  .github/workflows/terraform-lint.yml
  backend/poetry.lock
  backend/pycon/settings/prod.py
  backend/pyproject.toml
  infrastructure/backend_app.tf
Labels: backend, enhancement, python

#820 Add max width wrapper
  .github/workflows/frontend.yml
  backend/demodata/blog.json
  backend/demodata/conferences.json
  backend/demodata/users.json
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/components/article/index.tsx
  frontend/src/components/article/title.tsx
  frontend/src/components/button/index.tsx
  frontend/src/components/footer/index.tsx
  frontend/src/components/footer/links-wrapper.tsx
  frontend/src/components/footer/wrapper.tsx
  frontend/src/components/hero/index.tsx
  frontend/src/components/home-events/index.tsx
  frontend/src/components/home-faq/index.tsx
  frontend/src/components/max-width-wrapper.tsx
  frontend/src/components/sponsor-list/index.tsx
  frontend/src/components/topbar/expanded-menu.tsx
  frontend/src/components/topbar/hamburger.tsx
  frontend/src/components/topbar/index.tsx
  frontend/src/components/two-columns-text/index.tsx
  frontend/src/layouts/home.tsx
  frontend/src/pages/index.tsx
  frontend/src/templates/blog-post.tsx
  frontend/src/templates/page.tsx
  frontend/yarn.lock
Labels: enhancement, frontend

#672 Add ticket questions support
  backend/api/forms.py
  backend/api/schema.py
  backend/conferences/admin.py
  backend/conferences/migrations/0005_ticketfare_questions.py
  backend/conferences/migrations/0006_auto_20190811_1918.py
  backend/conferences/migrations/0008_merge_20190831_1711.py
  backend/conferences/migrations/0010_merge_20190909_1807.py
  backend/conferences/models/__init__.py
  backend/conferences/models/ticket_fare_question.py
  backend/conferences/types.py
  backend/schedule/types.py
  backend/submissions/types.py
  backend/tests/api/test_forms.py
  backend/tests/conferences/test_schema.py
  backend/tests/tickets/__init__.py
  backend/tests/tickets/factories.py
  backend/tests/tickets/test_admin.py
  backend/tests/tickets/test_schema.py
  backend/tests/tickets/test_send_question_answer.py
  backend/tickets/__init__.py
  backend/tickets/admin.py
  backend/tickets/forms.py
  backend/tickets/migrations/0003_ticketquestion_ticketquestionchoice_useranswer.py
  backend/tickets/migrations/0004_auto_20190810_1745.py
  backend/tickets/migrations/0005_auto_20190811_1918.py
  backend/tickets/migrations/0006_auto_20190811_2102.py
  backend/tickets/models.py
  backend/tickets/mutations.py
  backend/tickets/types.py
  backend/voting/types.py
Labels: backend, python
