Repository pythonitalia/pycon, pull requests merged in 2021-12, with the labels that each got.

#2536 Fix safari login using first-party domain
  association-frontend/next.config.js
  docker-compose.yml
  frontend/next.config.js
  frontend/src/pages/_middleware.ts
Labels: pycon-frontend, association-frontend

#2540 Make grants form more dynamic via a deadline
  backend/api/conferences/types.py
  backend/api/tests/schema/conference/test_conference.py
  backend/poetry.lock
  backend/pyproject.toml
  frontend/src/components/grant-form/grant-deadline.graphql
  frontend/src/components/grant-form/index.tsx
  frontend/src/components/grants-introduction/index.tsx
  frontend/src/locale/index.ts
  frontend/src/pages/grants/index.tsx
Labels: pycon-backend

#2550 Raise error if grants deadline is closed
  backend/api/grants/forms.py
  backend/api/grants/mutations.py
  backend/api/grants/tests/__init__.py
  backend/api/grants/tests/test_send_grant.py
  backend/api/tests/schema/test_grants.py
  backend/conferences/models/conference.py
  backend/conftest.py
  backend/grants/tests/__init__.py
  backend/grants/tests/factories.py
Labels: pycon-backend

#2557 Add support to buying an Association Membership via Pretix
  association-backend/main.py
  association-backend/poetry.lock
  association-backend/pyproject.toml
  association-backend/src/association/auth.py
  association-backend/src/association/settings.py
  association-backend/src/association/tests/api.py
  association-backend/src/association_membership/domain/entities.py
  association-backend/src/association_membership/domain/repository.py
  association-backend/src/association_membership/domain/services/subscribe_user_to_association.py
  association-backend/src/association_membership/tests/domain/test_entities.py
  association-backend/src/association_membership/tests/fake_repository.py
  association-backend/src/webhooks/auth_backend.py
  association-backend/src/webhooks/exceptions.py
  association-backend/src/webhooks/handlers/__init__.py
  association-backend/src/webhooks/handlers/pretix/__init__.py
  association-backend/src/webhooks/handlers/pretix/api.py
  association-backend/src/webhooks/handlers/pretix/pretix_event_order_paid.py
  association-backend/src/webhooks/handlers/stripe/__init__.py
  association-backend/src/webhooks/handlers/stripe/handle_invoice_paid.py
  association-backend/src/webhooks/tests/handlers/pretix/payloads.py
  association-backend/src/webhooks/tests/handlers/pretix/test_pretix_event_order_paid.py
  association-backend/src/webhooks/tests/handlers/stripe/payloads.py
  association-backend/src/webhooks/tests/handlers/stripe/test_handle_invoice_paid.py
  association-backend/src/webhooks/tests/test_views.py
  association-backend/src/webhooks/views.py
  docker-compose.yml
  infrastructure/applications/association_backend/main.tf
  infrastructure/applications/pycon_backend/main.tf
  users-backend/users/internal_api/query.py
  users-backend/users/internal_api/tests/queries/test_user_by_email.py
Labels: association-backend

#2564 Association Membership cronjob/check
  association-backend/main.py
  association-backend/src/association_membership/domain/entities.py
  association-backend/src/webhooks/handlers/__init__.py
  association-backend/src/webhooks/handlers/crons/membership_check_status.py
  association-backend/src/webhooks/tests/handlers/crons/test_membership_check_status.py
  infrastructure/applications/association_backend/membership_rule.tf
Labels: association-backend

#2543 Remove toolkit from the repo
  .github/labeler.yml
  .github/workflows/deploy-toolkit.yml
  .github/workflows/python-lint.yml
  .github/workflows/slash-commands.yml
  toolkit/README.md
  toolkit/poetry.lock
  toolkit/pyproject.toml
  toolkit/pythonit_toolkit/__init__.py
  toolkit/pythonit_toolkit/api/__init__.py
  toolkit/pythonit_toolkit/api/builder.py
  toolkit/pythonit_toolkit/api/extensions.py
  toolkit/pythonit_toolkit/api/graphql_test_client.py
  toolkit/pythonit_toolkit/api/permissions.py
  toolkit/pythonit_toolkit/api/types.py
  toolkit/pythonit_toolkit/emails/__init__.py
  toolkit/pythonit_toolkit/emails/backends/__init__.py
  toolkit/pythonit_toolkit/emails/backends/base.py
  toolkit/pythonit_toolkit/emails/backends/local.py
  toolkit/pythonit_toolkit/emails/backends/ses.py
  toolkit/pythonit_toolkit/emails/templates.py
  toolkit/pythonit_toolkit/emails/utils.py
  toolkit/pythonit_toolkit/headers/__init__.py
  toolkit/pythonit_toolkit/pastaporto/__init__.py
  toolkit/pythonit_toolkit/pastaporto/actions.py
  toolkit/pythonit_toolkit/pastaporto/entities.py
  toolkit/pythonit_toolkit/pastaporto/exceptions.py
  toolkit/pythonit_toolkit/pastaporto/test.py
  toolkit/pythonit_toolkit/pastaporto/tokens.py
  toolkit/pythonit_toolkit/sentry/__init__.py
  toolkit/pythonit_toolkit/sentry/sentry.py
  toolkit/pythonit_toolkit/service_client/__init__.py
  toolkit/pythonit_toolkit/service_client/client.py
  toolkit/pythonit_toolkit/starlette_backend/__init__.py
  toolkit/pythonit_toolkit/starlette_backend/middleware.py
  toolkit/pythonit_toolkit/starlette_backend/pastaporto_backend.py
  toolkit/tests/__init__.py
  toolkit/tests/api/test_permissions.py
  toolkit/tests/emails/__init__.py
  toolkit/tests/emails/backends/__init__.py
  toolkit/tests/emails/backends/test_local.py
  toolkit/tests/emails/backends/test_ses.py
  toolkit/tests/emails/test_utils.py
  toolkit/tests/pastaporto/__init__.py
  toolkit/tests/pastaporto/test_actions.py
  toolkit/tests/pastaporto/test_entities.py
  toolkit/tests/pastaporto/test_tokens.py
  toolkit/tests/service_client/test_client.py
  toolkit/tests/starlette_backend/__init__.py
  toolkit/tests/starlette_backend/test_backend.py
Labels: 🔨toolkit, 🐙 github

#2568 Internal api to check if a user id is a member
  association-backend/main.py
  association-backend/src/internal_api/__init__.py
  association-backend/src/internal_api/context.py
  association-backend/src/internal_api/permissions.py
  association-backend/src/internal_api/query.py
  association-backend/src/internal_api/schema.py
  association-backend/src/internal_api/tests/__init__.py
  association-backend/src/internal_api/tests/fixtures.py
  association-backend/src/internal_api/tests/queries/__init__.py
  association-backend/src/internal_api/tests/queries/test_user_id_is_member.py
  association-backend/src/internal_api/views.py
Labels: association-backend

#2549 Refactor Submission's permissions
  backend/api/submissions/permissions.py
  backend/api/submissions/tests/test_submission.py
  backend/api/submissions/tests/test_submission_fields.py
  backend/api/submissions/types.py
  backend/conftest.py
  backend/voting/tests/test_helpers.py
Labels: pycon-backend
