Repository pythonitalia/pycon, pull requests merged in 2021-11, with the labels that each got.

#2449 Update Next.js on PyCon FE
  frontend/package.json
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: pycon-frontend

#2457 Fix ISG showing stale BE queries
  frontend/codegen-apollo-client-query.ts
  frontend/codegen.yml
  frontend/src/apollo/client.ts
  frontend/src/helpers/prefetch.ts
  frontend/src/pages/[lang]/[slug]/index.tsx
  frontend/src/pages/[lang]/blog/[slug]/index.tsx
  frontend/src/pages/[lang]/blog/[slug]/social.tsx
  frontend/src/pages/[lang]/blog/index.tsx
  frontend/src/pages/[lang]/cfp/index.tsx
  frontend/src/pages/[lang]/grants/index.tsx
  frontend/src/pages/[lang]/index.tsx
  frontend/src/pages/[lang]/login/index.tsx
  frontend/src/pages/[lang]/login/success.tsx
  frontend/src/pages/[lang]/orders/[id]/confirmation.tsx
  frontend/src/pages/[lang]/profile/edit/index.tsx
  frontend/src/pages/[lang]/profile/index.tsx
  frontend/src/pages/[lang]/reset-password/[token].tsx
  frontend/src/pages/[lang]/reset-password/index.tsx
  frontend/src/pages/[lang]/schedule/[day].tsx
  frontend/src/pages/[lang]/schedule/index.tsx
  frontend/src/pages/[lang]/signup.tsx
  frontend/src/pages/[lang]/submission/[id]/edit/index.tsx
  frontend/src/pages/[lang]/submission/[id]/index.tsx
  frontend/src/pages/[lang]/talk/[slug]/index.tsx
  frontend/src/pages/[lang]/talk/[slug]/social.tsx
  frontend/src/pages/[lang]/tickets/index.tsx
  frontend/src/pages/[lang]/voting/index.tsx
Labels: pycon-frontend

#2431 Internal GraphQL client
  toolkit/poetry.lock
  toolkit/pyproject.toml
  toolkit/pythonit_toolkit/pastaporto/tokens.py
  toolkit/pythonit_toolkit/service_client/__init__.py
  toolkit/pythonit_toolkit/service_client/client.py
  toolkit/tests/pastaporto/test_tokens.py
  toolkit/tests/service_client/test_client.py
  users-backend/users/domain/repository.py
  users-backend/users/internal_api/query.py
Labels: 🔨toolkit

#2473 Use new IsService from toolkit
  gateway/pastaporto/user-info.ts
  users-backend/main.py
  users-backend/poetry.lock
  users-backend/pyproject.toml
  users-backend/users/internal_api/permissions.py
  users-backend/users/internal_api/query.py
  users-backend/users/internal_api/tests/queries/test_user_query.py
  users-backend/users/internal_api/tests/test_views.py
  users-backend/users/tests/api.py
Labels: users-backend

#2474 Update django and add banner with env name
  backend/custom_admin/__init__.py
  backend/custom_admin/admin.py
  backend/custom_admin/context_processors.py
  backend/custom_admin/templates/__init__.py
  backend/custom_admin/templates/admin/__init__.py
  backend/custom_admin/templates/admin/base.html
  backend/poetry.lock
  backend/pycon/settings/base.py
  backend/pyproject.toml
  docker-compose.yml
Labels: pycon-backend

#2475 Send CFP notifications via SQS
  backend/api/submissions/forms.py
  backend/domain_events/__init__.py
  backend/domain_events/handler.py
  backend/domain_events/publisher.py
  backend/domain_events/tests/__init__.py
  backend/domain_events/tests/test_handler.py
  backend/domain_events/tests/test_publisher.py
  backend/integrations/tests/test_tasks.py
  backend/pycon/settings/base.py
  backend/sqs_messages.py
  backend/tests/__init__.py
  backend/tests/test_sqs_messages.py
  backend/wsgi_handler.py
  infrastructure/applications/pycon_backend/main.tf
  infrastructure/applications/pycon_backend/queue.tf
  infrastructure/components/application_lambda/main.tf
  infrastructure/global/iam_roles/lambda_roles.tf
Labels: pycon-backend

#2486 WEB-157: Remove celery from our codebase
  backend/poetry.lock
  backend/pycon/__init__.py
  backend/pycon/celery.py
  backend/pycon/settings/base.py
  backend/pycon/settings/celery.py
  backend/pycon/settings/dev.py
  backend/pycon/settings/prod.py
  backend/pycon/settings/test.py
  backend/pyproject.toml
Labels: pycon-backend

#2494 Remove admin api
  .github/workflows/deploy.yml
  association-backend/src/association/tests/api.py
  toolkit/pythonit_toolkit/api/graphql_test_client.py
  users-backend/main.py
  users-backend/users/admin_api/__init__.py
  users-backend/users/admin_api/context.py
  users-backend/users/admin_api/mutation.py
  users-backend/users/admin_api/mutations/__init__.py
  users-backend/users/admin_api/mutations/login.py
  users-backend/users/admin_api/pagination.py
  users-backend/users/admin_api/permissions.py
  users-backend/users/admin_api/query.py
  users-backend/users/admin_api/schema.py
  users-backend/users/admin_api/tests/__init__.py
  users-backend/users/admin_api/tests/mutation/__init__.py
  users-backend/users/admin_api/tests/mutation/test_login_mutation.py
  users-backend/users/admin_api/tests/query/__init__.py
  users-backend/users/admin_api/tests/query/test_me_query.py
  users-backend/users/admin_api/tests/query/test_search_query.py
  users-backend/users/admin_api/tests/query/test_user_query.py
  users-backend/users/admin_api/tests/query/test_users_query.py
  users-backend/users/admin_api/types.py
  users-backend/users/admin_api/views.py
  users-backend/users/tests/api.py
Labels: users-backend

#2505 Remove admin api from gateway and terraform
  .github/workflows/deploy.yml
  docker-compose.yml
  gateway/Dockerfile
  gateway/config.ts
  gateway/dev/utils.ts
  gateway/package.json
  gateway/plugins/sentry.ts
  gateway/services.ts
  infrastructure/applications/applications.tf
  infrastructure/applications/gateway/main.tf
  infrastructure/applications/gateway/variables.tf
Labels: gateway

#2504 Update strawberry to latest
  association-backend/poetry.lock
  association-backend/pyproject.toml
  backend/poetry.lock
  backend/pyproject.toml
  users-backend/poetry.lock
  users-backend/pyproject.toml
Labels: pycon-backend, association-backend, users-backend

#2519 Try fixing CI build of Docker images
  association-backend/Dockerfile
  backend/Dockerfile
  users-backend/Dockerfile
Labels: pycon-backend, association-backend, users-backend
