Repository pythonitalia/pycon, pull requests merged in 2022-06, with the labels that each got.

#2875 Add QR Code to job listening
  frontend/package.json
  frontend/src/components/job-listing-accordion/index.tsx
  frontend/yarn.lock
Labels: pycon-frontend

#2888 Fix canceling/enabling subscription when it has a payment
  association-backend/poetry.lock
  association-backend/pyproject.toml
  association-backend/src/webhooks/handlers/crons/membership_check_status.py
  association-backend/src/webhooks/tests/handlers/crons/test_membership_check_status.py
Labels: association-backend

#2890 Update Next.js
  frontend/package.json
  frontend/src/pages/_middleware.ts
  frontend/yarn.lock
Labels: pycon-frontend

#2900 Upgrade gateway & remove legacy hacks
  .github/workflows/deploy.yml
  .github/workflows/javascript-lint.yml
  docker-compose.yml
  email-templates/config.js
  email-templates/package.json
  email-templates/pnpm-lock.yaml
  email-templates/tailwind.config.js
  gateway/.npmrc
  gateway/actions/auth-action.ts
  gateway/actions/clear-auth-action.ts
  gateway/context.ts
  gateway/dev/dev-server.ts
  gateway/gateway.ts
  gateway/handler.ts
  gateway/internal-services/logout/index.ts
  gateway/package.json
  gateway/pastaporto/__tests__/entities.test.ts
  gateway/pastaporto/__tests__/identity.test.ts
  gateway/pastaporto/__tests__/index.test.ts
  gateway/plugins/apollo-headers.ts
  gateway/plugins/format-cookies-express.ts
  gateway/plugins/sentry.ts
  gateway/pnpm-lock.yaml
  infrastructure/applications/email_templates/main.tf
Labels: gateway

#2899 Migrate to pnpm and upgrade Gateway
  .github/workflows/deploy.yml
  .github/workflows/javascript-lint.yml
  Dockerfile.node.local
  association-frontend/package.json
  association-frontend/pnpm-lock.yaml
  association-frontend/yarn.lock
  docker-compose.yml
  email-templates/config.js
  email-templates/package.json
  email-templates/pnpm-lock.yaml
  email-templates/tailwind.config.js
  email-templates/yarn.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/yarn.lock
  gateway/.npmrc
  gateway/Dockerfile
  gateway/actions/auth-action.ts
  gateway/actions/clear-auth-action.ts
  gateway/context.ts
  gateway/dev/dev-server.ts
  gateway/gateway.ts
  gateway/handler.ts
  gateway/package.json
  gateway/pastaporto/__tests__/entities.test.ts
  gateway/pastaporto/__tests__/identity.test.ts
  gateway/pastaporto/__tests__/index.test.ts
  gateway/plugins/apollo-headers.ts
  gateway/plugins/format-cookies-express.ts
  gateway/plugins/sentry.ts
  gateway/pnpm-lock.yaml
  gateway/yarn.lock
  infrastructure/applications/email_templates/main.tf
Labels: pycon-frontend, gateway, association-frontend

#2908 Remove SSR logic from Association frontend
  association-frontend/package.json
  association-frontend/pnpm-lock.yaml
  association-frontend/src/components/button/index.tsx
  association-frontend/src/components/modal/index.tsx
  association-frontend/src/components/section-item/index.tsx
  association-frontend/src/components/user-provider/index.tsx
  association-frontend/src/hooks/use-user/index.tsx
  association-frontend/src/pages/_app.tsx
  association-frontend/src/styles.css
  association-frontend/tailwind.config.js
Labels: association-frontend
