Repository pythonitalia/pycon, pull requests merged in 2023-02, with the labels that each got.

#3270 Upgrade to Django 4.1.6
  backend/poetry.lock
  backend/pyproject.toml
Labels: pycon-backend

#3263 MVP Proposals Reviews System
  .editorconfig
  backend/poetry.lock
  backend/pycon/settings/base.py
  backend/pyproject.toml
  backend/reviews/__init__.py
  backend/reviews/admin.py
  backend/reviews/apps.py
  backend/reviews/migrations/0001_initial_reviews_system.py
  backend/reviews/migrations/0002_store_user_review.py
  backend/reviews/migrations/0003_rename_options_model.py
  backend/reviews/migrations/__init__.py
  backend/reviews/models.py
  backend/reviews/templates/review-proposal.html
  backend/reviews/templates/review-recap.html
  backend/reviews/templatetags/__init__.py
  backend/reviews/templatetags/countryname.py
  backend/reviews/templatetags/get_item.py
  backend/reviews/templatetags/localize.py
  backend/reviews/tests.py
  backend/reviews/views.py
  backend/submissions/admin.py
  backend/submissions/migrations/0021_pending_status_for_submissions.py
  backend/submissions/models.py
  backend/users/client.py
  users-backend/users/internal_api/types.py
Labels: pycon-backend

#3275 Change SQS handler imports
  backend/sqs_messages.py
  backend/wsgi_handler.py
Labels: pycon-backend

#3272 Grants: Add Email reply system
  backend/api/grants/mutations.py
  backend/api/grants/tests/test_send_grant_reply.py
  backend/api/grants/types.py
  backend/api/tests/fixtures.py
  backend/conferences/admin.py
  backend/conferences/migrations/0032_conference_slack_new_grant_reply_incoming_incoming_webhook_url.py
  backend/conferences/migrations/0033_grants_default_amounts.py
  backend/conferences/models/conference.py
  backend/domain_events/handler.py
  backend/domain_events/publisher.py
  backend/domain_events/tests/test_handler.py
  backend/domain_events/tests/test_publisher.py
  backend/grants/admin.py
  backend/grants/migrations/0004_grant_age_group.py
  backend/grants/migrations/0005_grant_status.py
  backend/grants/migrations/0006_grant_amounts.py
  backend/grants/models.py
  backend/grants/tests/test_admin.py
  backend/poetry.lock
  backend/pyproject.toml
  email-templates/src/templates/grant-approved-ticket-accommodation.html
  email-templates/src/templates/grant-approved-ticket-only.html
  email-templates/src/templates/grant-approved-ticket-travel-accommodation.html
  email-templates/src/templates/grant-rejected.html
  email-templates/src/templates/grant-waiting-list.html
  email-templates/tailwind.config.js
  frontend/src/components/profile/my-grant.graphql
  frontend/src/locale/index.ts
  frontend/src/pages/grants/reply/grant.graphql
  frontend/src/pages/grants/reply/index.tsx
  frontend/src/pages/grants/reply/update-grant.graphql
  infrastructure/applications/pycon_backend/main.tf
Labels: pycon-backend

#3299 Grants: fix Plain
  backend/integrations/plain.py
  backend/pycon/settings/prod.py
  backend/wsgi_handler.py
Labels: pycon-backend

#3302 Prefer items with less reviews when picking the next item to review
  backend/conftest.py
  backend/reviews/admin.py
  backend/reviews/tests/__init__.py
  backend/reviews/tests/factories.py
  backend/reviews/tests/test_admin.py
  backend/users/tests/factories.py
Labels: pycon-backend

#3312 Update Strawberry Sentry tracing extension
  backend/poetry.lock
  backend/pyproject.toml
Labels: pycon-backend

#3313 Ruff, remove submission comments, refactor LazyType
  .flake8
  .pre-commit-config.yaml
  association-backend/main.py
  association-backend/src/association_membership/tests/domain/test_repository.py
  association-backend/src/association_membership/tests/factories.py
  association-frontend/next.config.js
  association-frontend/tailwind.config.js
  backend/api/events/types.py
  backend/api/schedule/types.py
  backend/api/submissions/forms.py
  backend/api/submissions/mutations.py
  backend/api/submissions/permissions.py
  backend/api/submissions/tests/test_send_submission_comment.py
  backend/api/submissions/tests/test_submission.py
  backend/api/submissions/types.py
  backend/api/tests/graphql_client.py
  backend/api/voting/types.py
  backend/conferences/migrations/0005_ticketfare_questions.py
  backend/conferences/migrations/0006_auto_20190811_1918.py
  backend/domain_events/handler.py
  backend/domain_events/tests/test_handler.py
  backend/importer/management/commands/import_old_db.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/schedule/migrations/0025_additional_speakers_fk.py
  email-templates/tailwind.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/back-to-marquee/index.tsx
  frontend/src/components/inputs/index.tsx
  frontend/src/components/submission-comments/add-comment.tsx
  frontend/src/components/submission-comments/comments.tsx
  frontend/src/components/submission-comments/send-comment.graphql
  frontend/src/components/submission/index.tsx
  frontend/src/components/submission/submission.graphql
  frontend/src/helpers/use-translated-message.ts
  frontend/src/locale/languages.ts
  frontend/src/pages/jobs/index.tsx
  frontend/src/pages/ranking/index.tsx
  gateway/context.ts
  gateway/handler.ts
  users-backend/alembic/versions/c998e741da04_make_email_unique.py
Labels: pycon-backend, pycon-frontend, association-backend, gateway, association-frontend

#3314 More sentry improvements in the Frontend
  frontend/next.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: pycon-frontend

#3280 New Schedule Design
  backend/api/conferences/types.py
  backend/api/schedule/mutations.py
  backend/api/schedule/tests/test_star_schedule_item.py
  backend/api/users/tests/test_stars.py
  backend/api/users/types.py
  backend/schedule/migrations/0043_allow_people_to_star_schedule_items.py
  backend/schedule/models.py
  frontend/codegen.yml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/postcss.config.js
  frontend/src/apollo/client.ts
  frontend/src/components/login-form/index.tsx
  frontend/src/components/schedule-event-detail/event-tag.tsx
  frontend/src/components/schedule-event-detail/index.tsx
  frontend/src/components/schedule-view/events.tsx
  frontend/src/components/schedule-view/index.tsx
  frontend/src/components/schedule-view/placeholder.tsx
  frontend/src/components/schedule-view/schedule.tsx
  frontend/src/components/schedule-view/staff/items-panel.tsx
  frontend/src/components/schedule-view/star-schedule-item.graphql
  frontend/src/components/schedule-view/types.ts
  frontend/src/components/schedule-view/unstar-schedule-item.graphql
  frontend/src/global.css
  frontend/src/helpers/lodash-is-equal.ts
  frontend/src/locale/index.ts
  frontend/src/middleware.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/event/[slug]/index.tsx
  frontend/src/pages/event/[slug]/social.tsx
  frontend/src/pages/event/[slug]/talk-social-card.graphql
  frontend/src/pages/event/[slug]/talks.graphql
  frontend/src/pages/event/[slug]/workshop-booking.graphql
  frontend/src/pages/schedule/[day]/index.tsx
  frontend/src/pages/schedule/fragments/schedule-slot.graphql
  frontend/src/pages/schedule/index.tsx
  frontend/src/pages/schedule/user-schedule-stars.graphql
  frontend/src/theme.ts
  frontend/tailwind.config.js
Labels: pycon-frontend

#3325 Make PyCon Backend work on M1
  association-backend/Dockerfile
  association-backend/poetry.lock
  association-backend/pyproject.toml
  backend/poetry.lock
  backend/pyproject.toml
  users-backend/Dockerfile
  users-backend/poetry.lock
  users-backend/pyproject.toml
Labels: pycon-backend, association-backend, users-backend
