Repository pythonitalia/pycon, pull requests merged in 2023-05, with the labels that each got.

#3498 Log console.errors on sentry
  gateway/package.json
  gateway/plugins/sentry.ts
  gateway/pnpm-lock.yaml
Labels: gateway

#3499 Bump mypy and pillow to prevent installation issues
  backend/invoices/xml/types.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: pycon-backend

#3500 Badge scanning API
  backend/api/badge_scanner/__init__py
  backend/api/badge_scanner/schema.py
  backend/api/schema.py
  backend/api/tests/schema/test_scan_badge.py
  backend/badge_scanner/migrations/0001_initial.py
  backend/badge_scanner/migrations/0002_badgescan_scanned_user_id.py
  backend/badge_scanner/migrations/0003_badgescan_conference.py
  backend/badge_scanner/migrations/__init__.py
  backend/badge_scanner/models.py
  backend/poetry.lock
  backend/pretix/__init__.py
  backend/pycon/settings/base.py
  backend/pyproject.toml
  backend/users/client.py
Labels: pycon-backend

#3514 Badge label, redirect, ui fixes, primitive caching
  backend/api/badge_scanner/__init__.py
  backend/api/participants/queries.py
  backend/api/pretix/query.py
  backend/api/pretix/types.py
  backend/api/users/types.py
  backend/badges/__init__.py
  backend/badges/roles.py
  backend/poetry.lock
  backend/pretix/__init__.py
  backend/pycon/settings/base.py
  backend/pyproject.toml
  docker-compose.yml
  frontend/src/components/badge/index.tsx
  frontend/src/components/my-tickets-profile-page-handler/customize-ticket-modal.tsx
  frontend/src/components/my-tickets-profile-page-handler/profile-with-tickets.graphql
  frontend/src/pages/b/[hashid].tsx
  frontend/src/pages/b/query.graphql
  infrastructure/applications/pycon_backend/main.tf
Labels: pycon-backend

#3521 New Streaming page
  backend/api/conferences/tests/test_query_conference.py
  backend/api/conferences/types.py
  cms/api/page/blocks/live_streaming_section.py
  cms/api/page/types.py
  cms/page/blocks/live_streaming_section.py
  cms/page/migrations/0012_live_streaming_section.py
  cms/page/models.py
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/blocks-renderer/index.tsx
  frontend/src/components/blocks/live-streaming-section/break-icon.tsx
  frontend/src/components/blocks/live-streaming-section/index.tsx
  frontend/src/components/blocks/live-streaming-section/query.graphql
  frontend/src/components/header/header.graphql
  frontend/src/components/header/index.tsx
  frontend/src/components/schedule-view/index.tsx
  frontend/src/locale/index.ts
  frontend/src/pages/streaming/index.tsx
Labels: pycon-frontend

#3459 Implement hero animation
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/homepage-hero/index.tsx
Labels: pycon-frontend

#3536 Show live status in the event detail
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/schedule-event-detail/index.tsx
  frontend/src/components/schedule-view/index.tsx
  frontend/src/pages/event/[slug]/index.tsx
Labels: pycon-frontend
