Repository pythonitalia/pycon, pull requests merged in 2023-03, with the labels that each got.

#3344 Schedule improvements
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/schedule-event-detail/index.tsx
  frontend/src/components/schedule-event-detail/speaker-section.tsx
  frontend/src/components/schedule-event-detail/talk.graphql
  frontend/src/components/schedule-view/events.tsx
  frontend/src/components/schedule-view/schedule.tsx
  frontend/src/locale/index.ts
  frontend/src/pages/schedule/[day]/index.tsx
Labels: pycon-frontend

#3350 Vouchers Co-Speakers support
  backend/conferences/admin.py
  backend/conferences/migrations/0036_add_support_for_cospeakers_vouchers.py
  backend/conferences/models/speaker_voucher.py
  backend/conferences/tests/factories.py
  backend/conferences/tests/test_admin.py
  backend/domain_events/handler.py
  backend/domain_events/publisher.py
  backend/domain_events/tests/test_handler.py
  backend/domain_events/tests/test_publisher.py
  backend/poetry.lock
  backend/pretix/__init__.py
  backend/pyproject.toml
  backend/schedule/admin.py
  backend/schedule/tests/factories.py
  backend/schedule/tests/test_admin.py
  email-templates/src/components/footer.html
  email-templates/src/templates/speaker-voucher-code.html
Labels: pycon-backend

#3355 Homepage Schedule Preview section
  backend/api/conferences/types.py
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/homepage-hero/buy-tickets-cta.tsx
  frontend/src/components/homepage-hero/landscape-night.tsx
  frontend/src/components/homepage-page-handler/follow-us-section.tsx
  frontend/src/components/homepage-page-handler/index.graphql
  frontend/src/components/homepage-page-handler/index.tsx
  frontend/src/components/homepage-page-handler/information-section.tsx
  frontend/src/components/homepage-page-handler/intro-section.tsx
  frontend/src/components/homepage-page-handler/schedule-preview-section.tsx
  frontend/src/components/homepage-page-handler/sponsors-section.tsx
  frontend/src/components/homepage-page-handler/tickets-overview-section.tsx
  frontend/src/components/keynoters-section/index.tsx
  frontend/src/components/sponsors-section/index.tsx
  frontend/src/components/sponsors-section/types.ts
  frontend/src/locale/index.ts
Labels: pycon-frontend

#3374 Grants: Add Waiting LIst update email
  backend/countries/constants.py
  backend/countries/countries.py
  backend/domain_events/handler.py
  backend/domain_events/publisher.py
  backend/grants/admin.py
  backend/grants/templates/admin/grants/change_list.html
  backend/poetry.lock
  backend/pyproject.toml
  email-templates/src/templates/grant-waiting-list-update.html
Labels: pycon-backend

#3343 Wagtail setup
  .github/workflows/deploy.yml
  .gitignore
  Dockerfile.python311.local
  cms/.coveragerc
  cms/.dockerignore
  cms/.tool-versions
  cms/Dockerfile
  cms/api/__init__.py
  cms/api/schema.py
  cms/api/tests/__init__.py
  cms/api/tests/factories.py
  cms/api/tests/test_schema.py
  cms/api/types.py
  cms/api/views.py
  cms/cms/__init__.py
  cms/cms/settings/__init__.py
  cms/cms/settings/base.py
  cms/cms/settings/dev.py
  cms/cms/settings/prod.py
  cms/cms/urls.py
  cms/cms/wsgi.py
  cms/conftest.py
  cms/custom_auth/backend.py
  cms/custom_auth/tests/__init__.py
  cms/custom_auth/tests/test_backend.py
  cms/gunicorn.conf.py
  cms/home/__init__.py
  cms/home/migrations/0001_initial.py
  cms/home/migrations/__init__.py
  cms/home/models.py
  cms/manage.py
  cms/page/__init__.py
  cms/page/blocks.py
  cms/page/migrations/0001_initial.py
  cms/page/migrations/__init__.py
  cms/page/models.py
  cms/pdm.lock
  cms/pyproject.toml
  docker-compose.yml
  gateway/config.ts
  gateway/services.ts
  infrastructure/azure-applications/.terraform.lock.hcl
  infrastructure/azure-applications/applications.tf
  infrastructure/azure-applications/cms/app.tf
  infrastructure/azure-applications/cms/secrets.tf
  infrastructure/azure-applications/cms/storage.tf
  infrastructure/azure-applications/cms/vars.tf
  infrastructure/azure-applications/cms/vault.tf
  infrastructure/azure-applications/components/container_app/main.tf
  infrastructure/azure-applications/components/container_app/variables.tf
  infrastructure/azure-applications/variables.tf
  infrastructure/azure-global/.terraform.lock.hcl
  infrastructure/bin/apply.sh
  infrastructure/global/ecr_repos/main.tf
  main.code-workspace
Labels: gateway

#3394 Submission updates emails
  backend/domain_events/handler.py
  backend/domain_events/publisher.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/submissions/admin.py
  backend/submissions/migrations/0022_add_waiting_list_status_to_submission.py
  backend/submissions/models.py
  email-templates/src/templates/submission-rejected.html
  frontend/src/components/my-proposals-profile-page-handler/my-proposals-table.tsx
  frontend/src/locale/index.ts
Labels: pycon-backend

#3414 Design Improvements
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/checkout-page-handler/index.tsx
  frontend/src/components/footer/index.tsx
  frontend/src/components/keynotes-list-page-handler/index.tsx
  frontend/src/components/newsletter/index.tsx
  frontend/src/components/products-list/hotel-row.tsx
  frontend/src/components/products-list/index.tsx
  frontend/src/components/products-list/membership-row.tsx
  frontend/src/components/products-list/ticket-row.tsx
  frontend/src/components/tickets-heading/index.tsx
  frontend/src/components/tickets-page/tickets.tsx
  frontend/src/locale/index.ts
Labels: pycon-frontend

#3420 Optimise sponsors logos
  backend/api/sponsors/tests/test_sponsors_by_level.py
  backend/api/sponsors/types.py
  backend/poetry.lock
  backend/pycon/settings/base.py
  backend/pycon/settings/prod.py
  backend/pycon/storages.py
  backend/pyproject.toml
  backend/sponsors/models.py
  frontend/package.json
  frontend/pnpm-lock.yaml
  infrastructure/global/iam_roles/lambda_roles.tf
Labels: pycon-backend, pycon-frontend

#3426 Implement schedule filters
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/schedule-view/events.tsx
  frontend/src/components/schedule-view/index.tsx
  frontend/src/components/schedule-view/schedule.tsx
  frontend/src/components/schedule-view/types.ts
  frontend/src/locale/index.ts
  frontend/src/pages/schedule/fragments/schedule-slot.graphql
  frontend/src/pages/schedule/fragments/submission.graphql
  frontend/src/pages/schedule/schedule.graphql
Labels: pycon-frontend
