Repository pythonitalia/pycon, pull requests merged in 2024-08, with the labels that each got.

#3928 New CFP form design
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/cfp-form/index.tsx
  frontend/src/components/cfp-form/participant-data.graphql
  frontend/src/components/cfp-introduction/index.tsx
  frontend/src/components/cfp-send-submission/index.tsx
  frontend/src/components/edit-profile-page-handler/index.tsx
  frontend/src/components/edit-profile-page-handler/main-profile-card.tsx
  frontend/src/components/edit-profile-page-handler/public-profile-card.tsx
  frontend/src/components/edit-profile-page-handler/types.ts
  frontend/src/components/errors-list/index.tsx
  frontend/src/components/file-input/index.tsx
  frontend/src/components/input-tag/index.tsx
  frontend/src/components/inputs/input/index.tsx
  frontend/src/components/multilingual-input/index.tsx
  frontend/src/components/public-profile-card/index.tsx
  frontend/src/components/select/index.tsx
  frontend/src/components/tags-select/index.tsx
  frontend/src/components/tags-select/tags.graphql
  frontend/src/helpers/use-is-client.ts
  frontend/src/helpers/use-translated-message.ts
  frontend/src/locale/context.tsx
  frontend/src/locale/index.ts
  frontend/src/pages/cfp/index.tsx
  frontend/src/pages/profile/edit.tsx
  frontend/src/pages/profile/my-tickets.tsx
  frontend/src/pages/submission/[id]/edit/index.tsx
Labels: pycon-frontend

#3934 Remove all theme-ui usage
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/input-wrapper/index.tsx
  frontend/src/components/inputs/chars-counter.tsx
  frontend/src/components/inputs/index.tsx
  frontend/src/components/inputs/input/index.tsx
  frontend/src/components/inputs/textarea/index.tsx
  frontend/src/components/styles.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/_document.tsx
  frontend/src/pages/grants/reply/index.tsx
  frontend/src/pages/schedule/invitation/[submissionId].tsx
  frontend/src/theme.ts
  frontend/typings/sx.d.ts
Labels: pycon-frontend

#3973 Upgrade Django to 5.0.8
  backend/pdm.lock
  backend/pyproject.toml
Labels: backend

#3879 Remove applicant_message from grants
  backend/api/grants/mutations.py
  backend/api/grants/tests/test_send_grant_reply.py
  backend/api/grants/types.py
  backend/grants/admin.py
  backend/grants/migrations/0020_remove_grant_applicant_message_and_more.py
  backend/grants/models.py
  backend/grants/tasks.py
  backend/grants/tests/test_tasks.py
  frontend/src/locale/index.ts
  frontend/src/pages/grants/reply/grant.graphql
  frontend/src/pages/grants/reply/index.tsx
Labels: grants

#4000 Upgrade GitHub actions and fix deprecation warnings
  .github/labeler.yml
  .github/workflows/backend-checks.yml
  .github/workflows/backend-test.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend-lint.yml
  .github/workflows/global-terraform-deploy.yml
  .github/workflows/global-terraform-lint.yml
  .github/workflows/labeler.yml
  .github/workflows/terminate-staging-env.yml
  .github/workflows/terraform-lint.yml
Labels: 🐙 github
